.section {
    background-color: var(--mantine-color-dark-6);
}

.title {
    font-size: 2rem;
    font-weight: var(--mgw-font-weight-bold);
    color: var(--mantine-color-dark-3);
}

@media screen and (min-width: 1024px) {
    .title {
        font-size: 2.375rem;
    }
}