.headerRoot {
    background-image: url('/home.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbarButton {
    background-color: transparent;
    border-radius: 0;

    & svg, & p {
        color: var(--mantine-color-gray-5)
    }

    &:hover, &:focus {
        background-color: transparent;

        & svg, & p {
            color: var(--mgw-color-primary-main);
        }
    }
}

.navbarButtonText {
    font-weight: var(--mgw-font-weight-bold);
}

.menuItem {
    font-weight: var(--mgw-font-weight-bold);
    color: var(--mantine-color-gray-5);

    &:hover, &:focus {
        color: var(--mgw-color-primary-main);
    }
}

.menuItemActive {
    color: var(--mantine-color-white);
    background-color: var(--mgw-color-primary-main);

    &:hover, &:focus {
        color: var(--mantine-color-white);
    }
}