.menuAccountButton {
  background-color: transparent;
  border-radius: 0;
  padding-left: 1.35rem;
  padding-right: 1.35rem;

  & svg,
  & p {
    color: var(--mantine-color-gray-6);
  }

  &:hover,
  &:focus {
    background-color: transparent;

    & svg,
    & p {
      color: var(--mgw-color-primary-main);
    }
  }
}

.menuAccountButtonActive {
  background-color: var(--mgw-color-primary-main) !important;

  & svg,
  & p {
    color: var(--mantine-color-white) !important;
  }
}

.menuButtonText {
  font-weight: var(--mgw-font-weight-bold);

  & svg,
  & p {
    color: var(--mantine-color-white);
  }
}

.menuUserLink {
  font-weight: var(--mgw-font-weight-bold);
  color: var(--mantine-color-gray-6);

  &:hover,
  &:focus {
    background-color: var(--mgw-color-primary-main);
    color: var(--mantine-color-white);
  }
}
