.label {
    margin-bottom: 0.3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--mantine-color-dark-1);
}

.description {
    display: block;
    font-size: 0.8rem;
    line-height: 1.1rem;
    padding-bottom: 0.3rem;
}

.checkboxDescription {
    margin-left: 0.8rem;
}