{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "plugin:react/recommended"
  ],
  "ignorePatterns": ["dist", ".eslintrc"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "react-hooks" ,"prettier", "simple-import-sort", "react-refresh"],
  "rules": {
    "strict": ["error", "global"],
    "prettier/prettier": "error",
    "react/jsx-curly-brace-presence": [2, "always"],
    "react/prefer-stateless-function": "error",
    "react/button-has-type": "error",
    "react/no-unused-prop-types": "error",
    "react/jsx-pascal-case": "error",
    "react/jsx-no-script-url": "error",
    "react/no-children-prop": "error",
    "react/no-danger": "error",
    "react/no-danger-with-children": "error",
    "react/no-unstable-nested-components": "error",
    "react/jsx-fragments": "error",
    "react/function-component-definition": "warn",
    "react/jsx-key": "error",
    "react/jsx-no-useless-fragment": "warn",
    "react/no-typos": "warn",
    "react/display-name": "warn",
    "react/self-closing-comp": "warn",
    "react/jsx-sort-props": "warn",
    "react/react-in-jsx-scope": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/prop-types": "off",
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          // Config from https://dev.to/julioxavierr/sorting-your-imports-with-eslint-3ped
          ["^react", "^next", "^@?\\w"],
          ["^(@|components)(/.*|$)"],
          ["^\\u0000"],
          ["^\\.\\.(?!/?$)", "^\\.\\./?$"],
          ["^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"],
          ["^.+\\.?(css)$"]
        ]
      }
    ]
  }
}
