.wrapper {
    background-color: var(--mantine-color-dark-8);
}

.backToHomeLink {
    text-decoration: none;
    color: var(--mantine-color-gray-4);
}

.backToHomeLink:hover,
.backToHomeLink:focus {
    color: var(--mantine-color-violet-5)
}

.backToHomeText {
    font-size: 0.9rem;
    text-transform: uppercase;
}