.description {
    display: block;
    font-size: 0.85rem;
    margin-top: 0.35rem;
    margin-bottom: 0.35rem;
    line-height: 1.25rem;
}

.viewLabel {
    font-size: 0.9rem;
    color: var(--mantine-color-dark-2)
}

.badgeWithIcon {
    width: 16px;
}