.menuItem {
  background-color: var(--mantine-color-dark-6);
  color: var(--mantine-color-gray-5);
  text-transform: lowercase;

  &:hover,
  &:focus {
    background-color: var(--mantine-primary-color-6);
    color: var(--mantine-color-white);

    & .menuItemTextMain {
      color: var(--mantine-color-white);
    }
    & .menuItemSubText {
      color: var(--mantine-color-gray-3);
    }
  }
}

.menuItemTextMain {
  font-weight: var(--mgw-font-weight-semibold);
  font-size: 1rem;
  color: var(--mantine-color-gray-3);
}

.menuItemSubText {
  font-weight: var(--mgw-font-weight-light);
  font-size: 0.875rem;
  color: var(--mantine-color-gray-6);
}

.menuItemActive {
  background-color: var(--mantine-primary-color-6);
  color: var(--mantine-color-white);

  & .menuItemTextMain {
    color: var(--mantine-color-white);
  }
  & .menuItemSubText {
    color: var(--mantine-color-gray-3);
  }
}
