.subtitle {
  color: rgba(var(--mgw-color-primary-light-rgb), 0.5);
}

.recoveryPasswordText {
  color: var(--mantine-color-dark-2);
}

.recoveryPasswordLink {
  color: var(--mantine-color-dark-5);

  &:hover,
  &:focus {
    color: var(--mgw-color-primary-light);
    text-decoration: none;
  }
}

.registerRulesText {
  color: var(--mantine-color-dark-2);
}

.navigationLink {
  background-color: var(--mgw-color-primary-main);
  color: var(--mantine-color-white);

  &:hover,
  &:focus {
    background-color: var(--mantine-color-white);
    color: var(--mgw-color-primary-main);
  }
}
