.forgotPasswordText {
    font-size: 0.9rem;
    text-transform: uppercase;
    color: var(--mantine-color-gray-4);
}

.forgotPasswordLink {
    text-decoration: none;
    color: var(--mantine-color-violet-5);
}

.forgotPasswordLink:hover,
.forgotPasswordLink:focus {
    color: var(--mantine-color-dark-1);
}