.level {
    background-color: var(--mantine-color-violet-7);
}

.levelNumber {
    font-weight: var(--mgw-font-weight-bold);
    font-size: 1.5rem;
}

.levelText {
    font-weight: var(--mgw-font-weight-regular);
    font-size: 0.9rem;
}

.profileName {
    font-size: 3rem;
    font-weight: var(--mgw-font-weight-bold);
    letter-spacing: 1px;
}