.lastMessages {
    background-color: var(--mantine-color-dark-7);
}

.newLoreEvents {
    background-image: url('/public/mgw-current-event.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: color .1s ease-in-out;
}

.newLoreEvents:hover .newLoreEventsText {
    color: var(--mantine-color-gray-3);
}

.newLoreEvents::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--mantine-color-black);
    opacity: 0.4;
}

.newLoreEventsContent {
    background: rgba(0, 0, 0, 0.8);
}

.newLoreEventsTitle {
    font-size: 1.5rem;
    color: var(--mantine-color-white);
}

.newLoreEventsText {
    font-size: 0.875rem;
    transition: color .1s ease-in-out;
    color: var(--mantine-color-gray-5);
}