@layer tailwind {
  @tailwind base;
}

@tailwind components;
@tailwind utilities;

:root {
  --mgw-color-primary-light: #624b6f;
  --mgw-color-primary-main: #3c2e43;
  --mgw-color-primary-dark: #261d2b;

  --mgw-color-primary-light-rgb: 98, 75, 111;
  --mgw-color-primary-main-rgb: 60, 46, 67;
  --mag-color-primary-dark-rgb: 38, 29, 43;
}

*::selection {
  background-color: var(--mgw-color-primary-light);
  color: var(--mantine-color-white);
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: var(--mantine-color-dark-8) !important;
  font-size: 1rem;
}

a:focus, input:focus, button:focus, textarea:focus {
  outline: none;
}