@layer theme, base, components, utilities, mantine;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

body {
  font-family: Arial, Helvetica, sans-serif;
}

button:active,
a:active,
input:active,
textarea:active {
  transform: translateY(0);
}
