@tailwind components;
@tailwind utilities;

@layer tailwind {
  @tailwind base;
}

:root {
  --discord-background-color: #5663F7;
  --discord-background-hover-color: #7289DA;
}

body {
  background-color: var(--mantine-color-dark-9);
}

a,
input,
button,
textarea,
select {
  transition: all .1s ease-in-out;
}