.link {
    text-decoration: none;
    color: var(--mantine-color-gray-6);
}

.link:hover,
.link:focus {
    color: var(--mantine-color-violet-5);
}

.linkExpanded:focus,
.linkExpanded:hover {
    background-color: var(--mantine-color-gray-light-hover);
}

.linkText {
    color: var(--mantine-color-gray-5);
}

.linkSubText {
    color: var(--mantine-color-dark-3);
    font-size: 0.8rem;
}

.button {
    color: var(--mantine-color-gray-6);
}

.button:hover,
.button:focus {
    color: var(--mantine-color-violet-5);
}

.buttonExpanded:focus,
.buttonExpanded:hover {
    background-color: var(--mantine-color-gray-light-hover);
}

.logout {
    color: var(--mantine-color-red-5)
}

.logout:hover,
.logout:focus {
    color: var(--mantine-color-red-3)
}