.sidebarButton {
    background-color: var(--mantine-color-dark-6);
}

.sidebarButtonIcon {
    color: var(--mantine-color-dark-1);
    transition: color .1s ease-in-out;
}

.sidebarButtonText {
    font-weight: var(--mgw-font-weight-regular);
    text-transform: uppercase;
    color: var(--mantine-color-dark-1);
    transition: color .1s ease-in-out;
}

.sidebarButton:hover .sidebarButtonIcon,
.sidebarButton:hover .sidebarButtonText,
.sidebarButton:focus .sidebarButtonIcon,
.sidebarButton:focus .sidebarButtonText {
    color: var(--mantine-color-gray-1);
}

.sidebarMobileButtonText {
    font-size: 1.25rem;
    font-weight: var(--mgw-font-weight-light);
}